<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>ToDo List</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    </head>
    <body>
        <div th:replace= "~{fragments :: msg_area }"></div>
        <form th:action="@{/}" method="post" th:object="${todoQuery}">
            <div style="display: flex">
                <table border="1">
                    <tr>
                        <th th:text="#{label.title}">件名</th>
                        <th th:text="#{label.importance}">重要度</th>
                        <th th:text="#{label.urgency}">緊急度</th>
                        <th th:text="#{label.period}">期限</th>
                        <th th:text="#{label.check}">完了</th>
                    </tr>
                    <tr>
                        <td><input type="text" name="title" id="title" size="40" th:value="*{title}"></td>
                        <td>
                            <select name="importance" id="importance">
                                <option value="-1" th:field="*{importance}">-</option>
                                <option value="1" th:field="*{importance}" th:text="#{option.high}">高</option>
                                <option value="0" th:field="*{importance}" th:text="#{option.low}">低</option>
                            </select>
                        </td>
                        <td>
                            <select name="urgency" id="urgency">
                                <option value="-1" th:field="*{urgency}">-</option>
                                <option value="1" th:field="*{urgency}" th:text="#{radio.high}">高</option>
                                <option value="0" th:field="*{urgency}" th:text="#{radio.low}">低</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" name="deadlineFrom" id="deadlineFrom" th:value="*{deadlineFrom}" size="10" placeholder="yyyy-mm-dd">
                            ～
                            <input type="text" name="deadlineTo" id="deadlineTo" th:value="*{deadlineTo}" size="10" placeholder="yyyy-mm-dd">
                        </td>
                        <td>
                            <input type="checkbox" th:field="*{done}" value="Y">
                            <span th:text="#{text.done}">完了</span>
                        </td>
                    </tr>
                </table>
                <button type="submit" th:formaction="@{/todo/query}" th:text="#{button.query}">検索</button>
            </div>
            <div th:if="${#fields.hasErrors('deadlineFrom')}" th:errors="*{deadlineFrom}" th:errorclass="red"></div>
            <div th:if="${#fields.hasErrors('deadlineTo')}" th:errors="*{deadlineTo}" th:errorclass="red"></div>
            <hr>
            <button type="submit" th:formaction="@{/todo/create/form}" th:text="#{button.new}">新規追加</button>
            </form>
        <table border="1">
            <tr>
                <th>id</th>
                <th th:text="#{label.title}">件名</th>
                <th th:text="#{label.importance}">重要度</th>
                <th th:text="#{label.urgency}">緊急度</th>
                <th th:text="#{label.period}">期限</th>
                <th th:text="#{label.check}">完了</th>
            </tr>
            <tr th:each=" todo: ${todoList}">
                <td th:text="${todo.id}"></td>
                <td><a th:href="@{/todo/__${todo.id}__}" th:text="${todo.title}"></a></td>
                <td th:text="${todo.importance == 1? '★★★':'★'}"></td>
                <td th:text="${todo.urgency == 1 ? '★★★':'★'}"></td>
                <td th:text="${todo.deadline}"></td>
                <td th:text="${todo.done == 'Y' ? '__#{text.done}__':''}"></td>
            </tr>
        </table>
        <div th:if="${todoPage != null}">
            <span th:text="#{text.paging(${todoPage.getNumber() + 1},${todoPage.getTotalPages()})}"></span>
            <ul id="nav">
                <li>
                    <span th:if="${todoPage.isFirst()}" th:text="#{link.prev}">←前</span>
                    <a th:unless="${todoPage.isFirst()}" th:href="@{/todo/query(page = ${todoPage.getNumber() - 1})}" th:text="#{link.prev}">←前</a>
                </li>
                <li th:each="i:${#numbers.sequence(0,todoPage.getTotalPages()-1)}">
                    <span th:if="${i == todoPage.getNumber()}" th:text="${i + 1}"></span>
                    <a th:if="${i != todoPage.getNumber()}" th:href="@{/todo/query(page=${i})}" th:text="${i + 1}"></a>
                </li>
                <li>
                    <span th:if="${todoPage.isLast()}" th:text="#{link.next}">次⇒</span>
                    <a th:unless="${todoPage.isLast()}" th:href="@{/todo/query(page=(${todoPage.getNumber() + 1}))}" th:text="#{link.next}">次→</a>
                </li>
            </ul>
        </div>
    </body>
</html>